.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  z-index: 10;
  position: absolute;
  top: 10px;
  min-height: 100vh;
  min-width: 200vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  font-weight: bold;
  color: #09d3ac;
}


.loading {
  font-size: calc(10px + 2vmin);
  width: 50%;
  margin: auto;
}

.loading-text {
  margin-top: 70px;
}

.fun-facts {
  font-size: calc(5px + 2vmin);
}

.start-button {
  border: none;
  background: none;
  color: #09d3dc;
  font-size: calc(15px + 2vmin);
  outline:none;
  font-weight: 600;
}

.start-button:active {
  color: #a903ff;
}

.start-button:hover {
  color: #38bcf0;
}

.start-button-wrapper {
  margin-top: 2vmin;
}

.background {
    z-index: 0;
}

.instructions {
  margin: auto;
    margin-top: 10%;
  width: 50%;
  font-size: calc(8px + 2vmin);

}

.rate {
  margin: auto;
  margin-top: 5%;
  width: 50%;
}

.buttons {
  margin: auto;
  margin-top: 5%;
}

.rating-button {
  color: white;
  margin: 2%;
  font-size: calc(8px + 2vmin);
  border: hidden;
  border-radius: 9px;
  padding: 0.5% 2%;
  outline: none;
}

.rating-button:active {
  background-color: #38bcf0;
}

.rating-button:hover {
  background-color: #9b20ff;
}

.submit-button {
  background-color: #a834e2;
}

.cancel-button {
  background-color: #ff0396;
}


.results {
  text-align: center;
  width: 50%;
  height: 700px;
  overflow-y: scroll;
  margin: auto;
}

.book {
  max-height: 100px;
  overflow-y: scroll;
  margin:3%;
  padding:2% 5% 4%;
  background-color: antiquewhite;
  color: darkslategray;
  border-radius: 14px;
}

.description {
  min-height: 180px;
  max-height: 180px;
  overflow-y: scroll;
}
.title {
  font-weight: 600;
}